@import '../../../styles/settings.scss';

.component {
  @include flex(column, center, center);
  padding: $padding;
  background-color: #eee;
}

.title {
  font-size: $title-size;
  margin-bottom: 50px;
  color: $color-dark;
}

.cardWrapper {
  width: 90%;
  // max-width: 800px;
  @include flex(row, center, center);
  flex-wrap: wrap;
}

