@import '../../../styles/settings.scss';

.component {
  margin-bottom: 50px;

  @media (min-width: 1000px) {
    @include flex(row, center, center);
    margin-bottom: 0;
  }

}

.title {
  @include section-header-light();
  margin-top: 50px;

  @media (min-width: 1000px) {
    position: absolute;
    transform: rotate(-90deg);
    left: 0;
    margin-top: 0;
  }
}

.cardWrapper {
  // width: 90%;
  width: 100%;
  max-width: 1200px;
  @include flex(row, center, center);
  flex-wrap: wrap;
  // position: relative;
}

