$color-light: #fff;
$color-dark: #222f3e;
$color-background: #f0f0f0;
$color-primary: #f1c40f;
$color-secondary: #218c74;
$color-success: #218c74;
$color-text-light: #666;


// $font-header: 'Montserrat', sans-serif;
$font-header: 'Lato', sans-serif;
$font-text: 'Source Sans Pro', sans-serif;


$radius: 5px;
$title-size: 50px;
$base-size: 12px;
$transition: all 0.5s;
$padding: 76px 0 76px 0;

@mixin section-header() {
  font-size: 2rem;
  margin-bottom: 50px;
  color: #222f3e;
  text-align: center;
}

@mixin section-header-light() {
  font-size: 2rem;
  margin-bottom: 50px;
  color: #fff;
  text-align: center;
}

@mixin flex($flex-direction, $align-items, $justify-content) {
  display: flex;
  flex-direction: $flex-direction;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin center() {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}