@import '../../../styles/settings.scss';


.component {
  max-width: 1140px;
  margin: auto;
  @include flex(row, flex-start, space-between);
}

.title {
  @include section-header();
  margin: 100px 0 20px 0;
  position: relative;
  flex: 0 0 25%;
  color: #fff;

  &::before {
    content: '';
    position: absolute;
    width: 55px;
    height: 10px;
    top: -20px;
    background-color: $color-primary;
    border-radius: 5px;
  }
}

.wrapper {
  @include flex(row, flex-start, space-around);
  flex: 0 0 75%;
}

.education {
  // flex: 0 0 42%;
  padding: 10px 0;
  position: relative;
}
