@import '../../../styles/settings.scss';

.component {
  @include flex(column, center, center);
  color: #fff;

  @media (max-width: 676px) {
    text-align: center;
  }
}

.title {
  font-size: 56px;

  @media (max-width: 676px) {
    font-size: 46px;
  }
}

.subtitle {
  font-size: 18px;
  text-transform: uppercase;
}