@import '../../../styles/settings.scss';

.component {
  @include flex(row, flex-end, center);
  background-color: #000;
  height: 150px;
  width: 100%;

  @media (max-width: 676px) {
    margin-top: 80px;
  }
}

.wrapper {
  @include flex(row, flex-end, flex-end);
  max-width: 1140px;
  width: inherit;
  height: inherit;
}


.text {
  color: #fff;

  @media (max-width: 676px) {
    margin-right: 20px;
  }
}