@import '../../../styles/settings.scss';

.component {
  @include flex(column, center, center);
}

.title {
  @include section-header();
  font-size: 3rem;

  @media (max-width: 676px) {
    font-size: 36px;
    margin-bottom: 35px;
  }
}

.cardWrapper {
  width: 70%;
  max-width: 800px;
  @include flex(row, center, center);
  flex-wrap: wrap;

  @media (max-width: 676px) {
    width: 80%;
  }
}

