@import '../../../styles/settings.scss';

.component {
  @include flex(column, center, center);
  padding: 76px 0 76px 0;
  background-color: #fff;
}

.title {
  font-size: 50px;
  margin-bottom: 50px;
  color: $color-dark;
}

.cardWrapper {
  width: 70%;
  max-width: 800px;
  @include flex(row, center, center);
  flex-wrap: wrap;
}

