@import '../../../styles/settings';

.component {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  @include flex(row, center, space-between);
  background-color: #000;
  z-index: 2;
}

.menu {
  @include flex(row, center, space-between);
  margin-right: 50px;
}

.listItem {
  list-style-type: none;
  text-decoration: none;
  padding: 5px;
}

.link {
  color: #fff;
  text-decoration: none;
  margin: 0;
  cursor: pointer;
}

.logo {
  color: #fff;
}