@import '../../../styles/settings';

.component {
  @include flex(row, center, flex-end);
  position: fixed;
  top: 0;
  width: 100%;
}

.menu {
  @include flex(row, center, space-between);
  margin-right: 100px;
  // position: fixed;
  // top: 0;
}

.listItem {
  list-style-type: none;
  text-decoration: none;
  padding: 5px;
  margin: 0 0 0 15px;
}

.link {
  color: #fff;
  text-decoration: none;
  margin: 0;
  font-size: 18px;
  cursor: pointer;
}
